apiVersion: apps/v1
kind: Deployment
metadata:
  name: tp-spring-boot
spec:
  replicas: 2
  selector:
    matchLabels:
      app: tp-spring-boot
  template:
    metadata:
      labels:
        app: tp-spring-boot
    spec:
      containers:
      - name: tp-spring-boot
        image: tp-spring-boot:latest
        imagePullPolicy: IfNotPresent
        ports:
            - containerPort: 8080
        env:
        - name: SPRING_PROFILES_ACTIVE
          value: "prod"
        resources:
          requests:
            memory: "256Mi"
            cpu: "250m"
          limits:
            memory: "512Mi"
            cpu: "500m"
        livenessProbe:
          httpGet:
            path: /produits
            port: 8080
          initialDelaySeconds: 60
          periodSeconds: 10
        readinessProbe:
          httpGet:
            path: /produits
            port: 8080
          initialDelaySeconds: 30
          periodSeconds: 5